// colors
$primary-color: #70ff00;
$secondary-color: #fff;
$primary-font-color: #fff;
// $primary-font-color: #000;
$secondary-font-color: #828282;
$primary-bg-color: #000000;
$secondary-bg-color: #727272;
$darker-grey: #4f4f4f;

// screen sizes
$sm: "600px"; /* Extra small devices (phones, 600px and down) */ /* AND */ /* Small devices (portrait tablets and large phones, 600px and up) */
$md: "768px"; /* Medium devices (landscape tablets, 768px and up) */
$lg: "992px"; /* Large devices (laptops/desktops, 992px and up) */
$xl: "1200px"; /* Extra large devices (large laptops and desktops, 1200px and up) */

:export {
  mediumScreen: $md;
  largeScreen: $lg;
}
