@use "_globals" as *;

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  font-size: 12px;
  color: $primary-font-color;

  background: linear-gradient(
    130.36deg,
    #000000 0%,
    #272727 44.03%,
    #494949 99.99%,
    #727272 100%
  );
}
@media only screen and (min-width: $md) {
  body {
    font-size: 14px;
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "nav nav"
    "main main"
    "about about"
    "skills skills"
    "projects projects"
    "companies companies";
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  // padding: 1rem 2rem;
  position: sticky;
  align-items: center;
  height: 4rem;
  .nav-items,
  .nav-contact-links {
    display: flex;
    align-items: center;
  }
  a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }
  .nav-item {
    a {
      color: $primary-font-color;
      font-weight: 700;

      &:hover {
        color: $primary-color;
      }
    }
    .contact {
      border: 4px solid transparent;
      border-image: linear-gradient($primary-color, $secondary-color) 1;
      &:hover {
        border: 4px solid $primary-color;
      }
    }
  }
  .logo {
    a {
      font-weight: 900;
      font-size: 1.2em;

      color: $primary-font-color;
      span {
        color: $secondary-font-color;
      }
    }
  }
}

main {
  grid-area: main;
  .my-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;

    grid-template-areas:
      "my-details-image my-details-image"
      "my-details-headline my-details-headline";
    justify-items: center;
    align-items: center;
  }

  .my-details-headline {
    grid-area: my-details-headline;

    .hello {
      font: {
        weight: 500;
        size: 2em;
      }
    }
    .name {
      font: {
        weight: 800;
        size: 4em;
      }
      letter-spacing: 0.1em;
      line-height: 1.3em;
      color: $primary-color;
    }
    .title {
      font: {
        weight: 700;
        size: 2em;
      }
      margin: 1rem 0;
    }

    .total-experience {
      font: {
        weight: 300;
        size: 2em;
      }
      text-transform: uppercase;

      span {
        display: inline-block;
        color: $secondary-font-color;
      }

      .years {
        font-size: 3em;
        font-weight: 700;
      }
    }
  }
  .my-details-image {
    grid-area: my-details-image;
    background-color: cadetblue;
  }
}

@media only screen and (min-width: $md) {
  main {
    .my-details {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "my-details-headline  my-details-image";
    }
  }
}
.about,
.skills,
.projects,
.companies {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 90vw;
}

.about {
  grid-area: about;

  .about-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "about-me"
      "about-actions";
    .about-me {
      grid-area: about-me;
      margin-bottom: 2em;
    }

    .about-actions {
      grid-area: about-actions;
    }
  }
}

@media only screen and (min-width: $md) {
  .about {
    .about-content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "about-me about-actions";
    }
  }
}

.about-actions {
  width: 40vw;
  // justify-self: center;
  // align-self: center;
  margin: 0 auto;

  .action-card {
    background-color: $darker-grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 1rem 1rem;
    .text {
      .title {
        font-size: 1.3em;
        padding-bottom: 0.5em;
        font-weight: 700;
      }
    }
    .icon {
      font-size: 2em;
    }
  }
}

.p-color {
  color: $primary-color;
}

.header {
  color: $primary-color;
  line-height: 57px;
  margin: 2rem 0;
  font: {
    size: 2em;
    weight: 700;
  }

  span {
    color: $primary-font-color;
  }
}
.skills {
  grid-area: skills;
}
.projects {
  grid-area: projects;
}
.companies {
  grid-area: companies;
}
